#bingo-board-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
#outter-row {

}
.bingo-board-row {
  width: 100vw;
  display: flex;
  justify-content: center;
}
.bingo-board-square{
  width: 100px;
  height: 100px;
  border: 1px solid black;
}
#mc-board-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;

}
.mc-board-row{
  width: 100vw;
  /*height: 100vh;*/
  display: flex;
  justify-content: space-between;

}
.btn.btn-group.bingo-questions{
  width: 80px;
  height: 80px
  border: 1px solid black;
  border-radius: 100px;
}
.btn.btn-group.bingo-questions:hover{
  background-color: yellow;
}